<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>🚀 Math Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <ion-text color="primary">
      <h1 class="animate-title">Welcome to Math Game! 🎉</h1>
    </ion-text>
    <p class="animate-text">
      Ready to test your math skills and conquer exciting puzzles? Dive into
      challenges like addition, subtraction, multiplication, and division.
      Beat high scores, and become the ultimate math champion! 🧮✨
    </p>

    <ion-button expand="block" color="success" routerLink="/games" class="animate-button">
      🎮 Start Playing
    </ion-button>
  </div>
</ion-content>
